/* Base styles */
.app-body {
    background-color: #FDFDFC;
    color: #1b1b18;
}

.main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    .app-body {
        background-color: #0a0a0a;
        color: #EDEDEC;
    }
}
